<!DOCTYPE html>
<html>
<head>
	<title>Recap Simple Note App</title>
	<link rel="stylesheet" href="/../public/css/style.css">
</head>
<body>
	<div id = "container">
		
		<div id="header">
			<h1>Simple Notes</h1>
		</div>

    <center>
		<div id="intro">
			<h3>Simple Notes?</h3>
				<h5> Is a extremely simple app into which you can add your notes to!</h5>
			<h3>How?</h3>
				<h5>Get started and you can save notes to the app!  </h5>
		</div>
		<div class="loginPart">
				<button> <a href="/landing" id="login" type="submit"/>Get Started</button>
		</div>
		</center>
		<div id="footer">
		</div>

	</div>

</body>
</html>