<!DOCTYPE html>
<html>
<head>
	<title>Recap Simple Note App</title>
	<link rel="stylesheet" href="/../public/css/style.css">
</head>
<body>
	<div id = "container">
		
		<div id="header">
			<h1>Simple Notes</h1>
		</div>

		<div id="intro">
			<h3>Simple Notes?</h3>
				<p> Is a extremely simple app into which you can add your notes to!</p>
			<h3>How?</h3>
				<p>Get started and you can save notes to the app!  </p>
		</div>

		<div class="loginPart">
			<form method = "GET", type="/landing">
				<button id="login" type="submit">Get Started</button>
			</form>
		</div>


		<div id="footer">
		</div>

	</div>


</body>
</html>