<!DOCTYPE html>
<html>
<head>
  <title>Recap Simple Note App</title>
  <link rel="stylesheet" href="/../public/css/landingStyle.css">
</head>
<body>
  <div id = "container">   
    <div id="header">
      <h1>Simple Notes</h1>
    </div>
    <div id="intro">
      <h3>Below you can write your notes:</h3>
      <form method = "GET" action="/note">  
        <input type ="text" name="content">
        <button type="submit"> Submit</button>
      </form>
    </div>
    <div id = "notes">
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>