*{
	font-family: monospace;
	text-align: center;
}

#header{
	font-size: 4em;
	text-align: center;
	background-image: url(../img/squareP.jpg);
}

#intro{
	margin-right: 2em;
	margin-left: 2em;
	margin-top: 8em; 
}

#intro > h3{
	font-size: 3em;
	text-align: center;
}

#intro > h2{
	font-size: 3em;
	text-align: center;
	color: red;
}

#intro > p{
	font-size: 2em;
	text-align: justify;
}

.loginPart{
	margin-top: 20em;
}
#login{
	text-decoration: none;
	font-size: 2em;
	font-weight: 500;
}

a:visited{
	font-color: black;
	color:black;
}

